<!DOCTYPE html>
<html lang="en-us">
	<head>
		{% block head %}
		<meta charset="utf-8">
		<link rel="stylesheet" type="text/css" href="/assets/css/global.css">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="alternate" type="application/rss+xml" title="RSS" href="https://benjaminhollon.com/feed/?from=musings%2Cswec%2Cblurbs">
		<title>{{ title or (url | id) }}</title>
		<meta property="og:title" content="{{title or (url | id)}}">
		<meta property="og:type" content="website">
		{% if description %}
		<meta name="description" content="{{description}}">
		<meta property="og:description" content="{{description}}">
		{% endif %}
		<link rel="shortcut icon" type="image/x-icon" href="/assets/images/favicon.ico">
		<link rel="me" href="https://lowkey.zone/@benjaminhollon">
		{% endblock head %}
	</head>
	<body>
		<div id="content">
			{% block header %}
			<header>
				<h1>{% block title %}{{ title or (url | id) }}{% endblock title %}</h1>
				{% block subtitle %}<p>{% if subtitle %}{{ subtitle }}{% endif %}</p>{% endblock subtitle %}
			</header>
			{% endblock header %}
			{% block nav %}
			<nav class="main-nav">
				<a href="/">Home</a>
				<a href="/solutions/">Solutions</a>
				<a href="/act/">Act</a>
			</nav>
			{% endblock nav %}
			<main>
				{% block main %}
				{{ content | safe}}
				{% endblock main %}
			</main>
			<footer>
				{% block footer %}
				<p><a href="https://codeberg.org/benjaminhollon/kessler-cascades/issues/new">Report a Bug</a> | <a href="https://codeberg.org/benjaminhollon/kessler-cascades">Code</a> | <a href="https://benjaminhollon.com/projects/">More Projects</a></p>
				<p class="codewithlove"><a href="https://benjaminhollon.com">&lt;/&gt; with &lt;3 by Benjamin Hollon</a></p>
				{% endblock footer %}
			</footer>
		</div>
	</body>
</html>
